<h1>Welcome to WeGetReview !</h1>
<h2>
	This is the best place where companies will have the real thoughts of theirs customers and partners.
	Customers or partners will write a reviews about differents companies that the are dealing with.
	These reviews on the companies will based on Services & Products Quality of the companies. <%= link_to "Sign Up", root_path %> now and start to get reviews from you customers or write reviews for companies.
</h2><br>

